*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    text-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: 4.2rem;
        background-color:#002147; 
        color: white; 
        padding: 10px 5px 10px 5px; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.custom-image {
    width: 300px; /* Set the width */
    height: 500px; /* Set the height */
    object-fit: cover; /* This property defines how the content of the replaced element should be resized to fit its container. */
}

.navbar a {
    color: white; /* Example text color */
    padding: 10px; /* Padding around each link */
    margin: 0 5px; /* Adds space between the navbar items */
    text-decoration: none; /* Removes underline from links */
    flex-grow: 1; /* Allows each link to grow and fill the container */
  }
#signin{
    width: 40%;
    height: 3rem;
    text-decoration: none; 
    font-size:x-large;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    color: white;
    border: none;
    
}
#search{
    width: 3rem;
    height: 3rem;
    padding: 10px; /* Padding around each link */
    margin: 0 5px; /* Adds space between the navbar items */
    text-decoration: none; /* Removes underline from links */
    flex-grow: 1; 
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
    border: none;
}
.page1{
    display: flex;
    align-content: center;
    justify-content: center;
}
.intro h1 {
    font-family: 'Montserrat', sans-serif; /* This sets the font of h1 elements */
    font-weight: 500; /* Montserrat's weight for bold text */
    color: #555; /* Dark grey color */
    text-align:left; /* Centers the text */
}

.intro h5 {
    font-family: 'Roboto', sans-serif; /* This sets the font of h2 elements */
    color: #556; /* Lighter grey color */
    text-align: center; /* Centers the text */
    margin-top: 20px; /* Adds space above h2 */
}

.intro{
    background-color: #E5E4E2;
    color: black;
    width:50%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 100px 10px;
}
.photo{
    width:50%;
    height: 25rem;
    background-size: cover ;
    padding: 100px 10px ;
    background-size: cover;
}
.photo img{
    width: 100%;
    height: auto;
}
.main-area{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 0px 300px ;
}
.heading-secondary {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding-top: 9px;
    padding-bottom: 6px;
    display: block;
    color: #6f777b;
}
.count{
    font-size:50px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}
.text{
    font-size: 20px;
    font-weight: bold;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.signature-count{
    margin-top: 30px;
    margin-bottom: 0px;
    width: 100%;
}

.signature-count-graph{
    display: block;
    background-color: #BFC1C3;
    height: 10px;
    width: 100%;
    
}
.signature-count-current{

    min-width:0;
    display: block;
    background-color: green;
    width: 43%;
    height: 100%;
}
.signature-count-goal{
    text-align: right;
}
.community{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}